<div class="user-details">
  <div class="user-name">
    <%= user.name %>
  </div>
  <div class="posts-count">
  <%# <%= pluralize(user.posts.count, 'post' ) %>
  Number of posts: <%= user.posts.count %>
  </div>
</div>
